name: Test

on:
  push:
  pull_request:

jobs:
  changes:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    timeout-minutes: 5
    outputs:
      any_changed: ${{ steps.files.outputs.any_changed }}
      go_any_changed: ${{ steps.files.outputs.go_any_changed }}
      actions_any_changed: ${{ steps.files.outputs.actions_any_changed }}
      md_any_changed: ${{ steps.files.outputs.md_any_changed }}
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Run changes
        id: files
        uses: tj-actions/changed-files@ed68ef82c095e0d48ec87eccea555d944a631a4c # v46.0.5
        with:
          files_yaml: |
            md:
              - '**.md'
            go:
              - '**.go'
              - go.mod
            actions:
              - .github/workflows/**.yml
              - .github/workflows/**.yaml

  actionlint:
    runs-on: ubuntu-latest
    needs: changes
    if: needs.changes.outputs.actions_any_changed == 'true'
    permissions:
      contents: read
    timeout-minutes: 5
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - uses: aquaproj/aqua-installer@d1fe50798dbadd4eb5b98957290ca175f6b4870f # v4.0.2
        with:
          aqua_version: v2.53.9

      - name: Run actionlint
        run: actionlint

      - name: Run ghalint
        run: ghalint run

  go-test:
    runs-on: ubuntu-latest
    needs: changes
    if: needs.changes.outputs.go_any_changed == 'true'
    permissions:
      contents: read
    timeout-minutes: 5
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Install Go
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version-file: go.mod

      - name: Run tests
        run: go test ./...

  md-test:
    runs-on: ubuntu-latest
    needs: changes
    if: needs.changes.outputs.md_any_changed == 'true'
    permissions:
      contents: read
    timeout-minutes: 5
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - uses: aquaproj/aqua-installer@d1fe50798dbadd4eb5b98957290ca175f6b4870f # v4.0.2
        with:
          aqua_version: v2.53.9

      - name: Install dependencies
        run: npm ci

      - name: Tests
        run: npm run md-test

  test-no-need:
    name: Empty
    runs-on: ubuntu-latest
    needs: changes
    if: needs.changes.outputs.any_changed == 'false'
    permissions:
      contents: read
    timeout-minutes: 5
    steps:
      - name: Skip
        run: echo "No changes in files related to tests, skipping."
